<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> 
    <script src="script.js" defer></script>
</head>
<body>
    <div class="mainContent">
        <h1>This is the main content</h1>
    </div>
    <footer>
        <div class="footerMain">
            <div class="newsletter">
                <span><h2>Joing the anoynx Newsletter to ...</h2></span>
                <div class="joinNewsLetter">
                    <h3 id="joinNewsletter">join newsletter</h3>
                    <span>----------></span>
                </div>
            </div>
            <div class="footerNavContainer">
                <div class="footerNav">
                    <h2>Discover</h2>
                    <ul>
                        <li>Home</li>
                        <li>Experiences</li>
                        <li>About us</li>
                        <li>Contact</li>
        
                    </ul>
                </div>
                <div class="footerNav">
                    <h2>Book</h2>
                    <ul>
                        <li>Day Walk</li>
                        <li>Experiences</li>
                        <li>About us</li>
                        <li>Contact</li>
        
                    </ul>
                </div>
            </div>
            
            <div class="logo">
                LOGO
            </div>
        </div>
        
        <div class="footerExtras">
            <span>copyright @ AnyoxExperiances</span>
            <div class="extraLinks">
                <span><A>privacy Policy</A></span>
                <span><A>Terms and Conditions</A></span>
            </div>
            


        </div>


    </footer>
</body>
</html>