<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <link rel="stylesheet" href="scroll.css">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>


</head>
<body>
    <section class="experience"> 
        <div class="backgroundContainer"></div>
        <!-- <div class="cardContainer"> -->

 
        <!-- </div> -->
        
        <div class="swiper cardContainer swiper_cardContainer">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
                <div class="swiper-slide">

                    <a href="night.html" class="card" id="cardNight">
                    <div class="cardDivider"></div>
                    <h2>Night Walk</h2>
                    <p>tap for more info</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="day.html" class="card" id="cardDay">
                    <div class="cardDivider"></div>
                    <h2>Day Walk</h2>
                    <p>tap for more info</p>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="snorkel.html" class="card" id="cardSnorkel">
                    <div class="cardDivider"></div>
                    <h2>Snorkel</h2>
                    <p>tap for more info</p>
                    </a>
                </div>
                
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="standard_cardContainer cardContainer">

            <a href="night.html" class="card" id="cardNight">
                <div class="cardDivider"></div>
                <h2>Night Walk</h2>
                <p>tap for more info</p>
            </a>
            <a href="day.html" class="card" id="cardDay">
                <div class="cardDivider"></div>
                <h2>Day Walk</h2>
                <p>tap for more info</p>
            </a>
            
            <a href="snorkel.html" class="card" id="cardSnorkel">
                <div class="cardDivider"></div>
                <h2>Snorkel</h2>
                <p>tap for more info</p>
            </a>

        </div>

    </section>

    <!-- <section class="experience"> 
        <div class="backgroundContainer"></div>
        <div class="cardContainer">

            <a href="night.html" class="card" id="cardNight">
                <div class="cardDivider"></div>
                <h2>Night Walk</h2>
                <p>tap for more info</p>
            </a>
            <a href="day.html" class="card" id="cardDay">
                <div class="cardDivider"></div>
                <h2>Day Walk</h2>
                <p>tap for more info</p>
            </a>
            
            <a href="snorkel.html" class="card" id="cardSnorkel">
                <div class="cardDivider"></div>
                <h2>Snorkel</h2>
                <p>tap for more info</p>
            </a>

        </div>


    </section> -->
</body>
<script src="scroll.js"></script>
</html>