<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> 
    <script src="script.js" defer></script>
</head>
<body>
    <header> 
        <div class="header_logo">Logo</div>
        <div class="header_menu">
            <!-- <ul class=" header_nav_mobile"> -->
            <ul class=" header_nav mobile_active">


                <li class="nav_link">Menu1</li>
                <li class="mobile">----------------</li>
                <li class="nav_link">Menu2</li>
                <li class="mobile">----------------</li>
                <li class="nav_link">Menu3</li>
                <li class="mobile">----------------</li>
                <li class="nav_link">Menu4</li>
                <li class="mobile">----------------</li>
                <li >
                   <div class="header_button">this is a button</div>
                </li>

            </ul>
        </div>
        <div class="header_burger mobile" id="header_burger">BURGER</div>
    </header>
</body>
</html>