<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="/components/pages/pages.css">

</head>
<body>
    <header>
        <nav class="headerNavElement">
            <div class="header_logo header_toggle"><img src="/imgs/logo 1.png" class="header_logo"></div>
            <div class="header_menu">
                <!-- <ul class=" header_nav_mobile"> -->
                <ul class=" header_nav mobile_active">
    
    
                    <li class="nav_link header_toggle">Experiences</li>
                    <!-- <li class="mobile">----------------</li> -->
                    <!-- <li class="nav_link header_toggle">Menu2</li> -->
                    <!-- <li class="mobile">----------------</li> -->
                    <li class="nav_link header_toggle">Contact</li>
                    <!-- <li class="mobile">----------------</li> -->
                    <li class="nav_link header_toggle">Shop</li>
                    <!-- <li class="mobile">----------------</li> -->
                    <li >
                       <div class="header_button header_toggle">Book an Experience ></div>
                    </li>
    
                </ul>
            </div>
            <div class="header_burger mobile header_toggle" id="header_burger">BURGER</div>
        </nav>
    </header>

    
        <section class="page" id="title">
            <div class="container">
                <div class="title">
                    <h1>NightWalk</h1>
                    <p>this is an example of intro text. used to quickly introduce the user to the product</p>
                </div>
                <div class="cta">
                    Book an Expreience
                </div>
            </div>    
            

            <div class="bottomDivider">

        </section>

        <section class="page" id="moreInfo">
            <div class="container">
                <div class="gallery"><div class="galleryTemp"></div></div>
                <div class="info">
                    <h2>More Info</h2>
                    <div class="gridContainer">
                        <div class="info_container">
                            <h3>1</h3>
                            <p>Ut iste sint et omnis alias maxime ut unde. Optio recusandae magni quod suscipit. Culpa minus hic esse voluptatem sed unde dolor. Veniam dolores occaecati et. Esse sint facere magnam error quis dolores aut quas.</p>
                        
                        </div>
                        <div class="info_container">
                            <h3>2</h3>
                            <p>Ut iste sint et omnis alias maxime ut unde. Optio recusandae magni quod suscipit. Culpa minus hic esse voluptatem sed unde dolor. Veniam dolores occaecati et. Esse sint facere magnam error quis dolores aut quas.</p>
                        
                        </div>
                        <div class="info_container">
                            <h3>3</h3>
                            <p>Ut iste sint et omnis alias maxime ut unde. Optio recusandae magni quod suscipit. Culpa minus hic esse voluptatem sed unde dolor. Veniam dolores occaecati et. Esse sint facere magnam error quis dolores aut quas.</p>
                        
                        </div>
                        <div class="info_container">
                            <h3>4</h3>
                            <p>Ut iste sint et omnis alias maxime ut unde. Optio recusandae magni quod suscipit. Culpa minus hic esse voluptatem sed unde dolor. Veniam dolores occaecati et. Esse sint facere magnam error quis dolores aut quas.</p>
                        
                        </div>
                        <div class="info_container">
                            <h3>5</h3>
                            <p>Ut iste sint et omnis alias maxime ut unde. Optio recusandae magni quod suscipit. Culpa minus hic esse voluptatem sed unde dolor. Veniam dolores occaecati et. Esse sint facere magnam error quis dolores aut quas.</p>
                        
                        </div>
                        <div class="info_container">
                            <h3>6</h3>
                            <p>Ut iste sint et omnis alias maxime ut unde. Optio recusandae magni quod suscipit. Culpa minus hic esse voluptatem sed unde dolor. Veniam dolores occaecati et. Esse sint facere magnam error quis dolores aut quas.</p>
                        
                        </div>
                    </div>
                    


                </div>
            </div>   

       
            <div class="bottomDivider faqDivider">

        </section>
        <section class="page" id="faq">
            <h1>Common Questions</h1>
            <div class="FAQ_gridContainer">
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>
                <div class="FAQ_gridItem">
                    <h2>this is a question?</h2>
                    <p>yes.yes it is</p>
                </div>


            </div>
            <div class="bottomDivider galleryDivider">

        </section>
    

    <footer>
        
        <div class="footerMain">
            <div class="newsletter">
                <span><h2>Joing the anoynx Newsletter to ...</h2></span>
                <div class="joinNewsLetter">
                    <h3 id="joinNewsletter">join newsletter</h3>
                    <span>----------></span>
                </div>
            </div>
            <div class="footerNavContainer">
                <div class="footerNav">
                    <h2>Discover</h2>
                    <ul>
                        <li>Home</li>
                        <li>Experiences</li>
                        <li>About us</li>
                        <li>Contact</li>
        
                    </ul>
                </div>
                <div class="footerNav">
                    <h2>Book</h2>
                    <ul>
                        <li>Day Walk</li>
                        <li>Experiences</li>
                        <li>About us</li>
                        <li>Contact</li>
        
                    </ul>
                </div>
            </div>
            
            <div class="footer_logo">
                <img src="/imgs/logo 1.png" class="footer_logo">
            </div>
        </div>
        
        <div class="footerExtras">
            <span>copyright @ AnyoxExperiances</span>
            <div class="extraLinks">
                <span><A>privacy Policy</A></span>
                <span><A>Terms and Conditions</A></span>
            </div>
            


        </div>
    
    </footer>

</body>
<script src="/components/pages/pages.js"></script>
</html>